// config de variáveis:
$corDeFundo: #040714;
$corDoFundoDoBotao: #6421ff;
$corDoFundoDoBotaoSecundario: #0063e5;
$corDoFundoDoBotaoDark: #000;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;